<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>my-one-half | UNIQLO二手衣商城</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class='container-fluid'>
        {%include 'header.html'%}
        
        <div class="main clearfix" id="product-list">
            <!-- menu -->
            <div class="product-menu">

                <ul>
                   
                    <li class="">
                        <a style="" href="https://www.pazzo.com.tw/zh-tw/tag/all-live">外套</a>
                    </li>
                    <li class="">
                        <a style="" href="/zh-tw/category/cobranding/rainie77">上衣</a>
                    </li>
                    <li class="">
                        <a style="" href="/zh-tw/tag/2020top10">下身</a>
                    </li>
                    <li class="">
                        <a style="" href="/zh-tw/recent">洋裝/裙子</a>
                    </li>

                </ul>


            </div>
            <div class='col-sm-10 col-md-10'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class='panel-body'>
                        {% block content %} {% endblock %}
                    </div>
                    
                </div>
            
        </div>
    </div>
    
    {% include 'footer.html' %}
                    

</body>

</html>