<!--goodspage.html-->
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>my-one-half _ UNIQLO二手衣商城</title>
    <meta name="referrer" content="origin">
    <meta name="description" property="og:description" itemprop="description"
        content="PAZZO 生活好感衣著，將回歸衣著最簡單純粹的質地，講求最基本的質感，由挑選好布料開始傳遞幸福感的新生活哲學，與大家一起共享對衣著的用心堅持與自在有感生活，立刻線上挑選女裝‧男裝‧飾品‧配件，享受快速配送服務。IT IS THE ACCESSORY OF LIFE.">
    <meta property="fb:app_id" content="2361134424120520">
    <meta property="fb:pages" content="102230776487685">
    <meta property="og:locale" content="zh_TW">
    <meta property="og:title" itemprop="name" content="my-one-half _ UNIQLO二手衣商城">
    <meta property="og:url" itemprop="url" content="https://www.pazzo.com.tw/campaign/20210202s3">
    <meta property="og:image" itemprop="image"
        content="https://pics.pzcdn.tw/pazzo/System/a1a9b7b4-8304-41d5-928c-45c5b095db7a.png?w=1024&amp;h=1024&amp;mode=max&amp;f.sharpen=50">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PAZZO">

    <link rel="canonical" href="https://www.pazzo.com.tw/campaign/20210202s3">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://pics.pzcdn.tw/pazzo/System/721e81e4-89a5-4c9a-aa08-be424e781c8f.png">
    <link rel="icon" type="image/x-icon"
        href="https://pics.pzcdn.tw/pazzo/System/4aba9c21-376f-4a5d-bcf4-6fa0a159d44a.png">
    <link rel="apple-touch-icon-precomposed"
        href="https://pics.pzcdn.tw/pazzo/System/ad675f8b-02ea-4bef-9b0b-9d7995dae0af.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="https://pics.pzcdn.tw/pazzo/System/ac6bb00c-aeb3-41af-95fe-bfd5cb022efc.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="https://pics.pzcdn.tw/pazzo/System/8560fea4-f2f4-4eaf-908d-7ba3d8c861c4.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="https://pics.pzcdn.tw/pazzo/System/765245a9-b97f-4668-8003-55b974578904.png">

    <link href="https://static.pzcdn.tw/sff/pazzo/css/main.css?v=20210201v1" rel="stylesheet">
</head>
</html>
<br><br><br><br><br><br><br><br>
{%extends 'base.html'%}
{%block headmessage%}
<p style='font-family: 微軟正黑體;font-size: 14pt;font-weight: bold;'>
    {{UQItem.UNIQLOTitle}}
</p>
{% endblock %}

{%block content%}
<p style='font-family: 微軟正黑體;font-size: 12pt;font-weight: plain;'>
    <img src={{UQItem.UNIQLOImage}} width='380' /><br><br><br>
    {{UQItem.Description|safe}}<br>

</p>

<a href='/'>回首頁</a>
{% endblock %}