<!--login.html-->
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登入 | my-one-half</title>
    <meta name="referrer" content="origin">
    <meta name="description" property="og:description" itemprop="description"
        content="PAZZO 生活好感衣著，將回歸衣著最簡單純粹的質地，講求最基本的質感，由挑選好布料開始傳遞幸福感的新生活哲學，與大家一起共享對衣著的用心堅持與自在有感生活，立刻線上挑選女裝‧男裝‧飾品‧配件，享受快速配送服務。IT IS THE ACCESSORY OF LIFE.">
    <meta property="fb:app_id" content="2361134424120520">
    <meta property="fb:pages" content="102230776487685">
    <meta property="og:locale" content="zh_TW">
    <meta property="og:title" itemprop="name" content="my-one-half _ UNIQLO二手衣商城">
    <meta property="og:url" itemprop="url" content="https://www.pazzo.com.tw/campaign/20210202s3">
    <meta property="og:image" itemprop="image"
        content="https://pics.pzcdn.tw/pazzo/System/a1a9b7b4-8304-41d5-928c-45c5b095db7a.png?w=1024&amp;h=1024&amp;mode=max&amp;f.sharpen=50">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PAZZO">

    <!-- <link rel="canonical" href="https://www.pazzo.com.tw/campaign/20210202s3">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://pics.pzcdn.tw/pazzo/System/721e81e4-89a5-4c9a-aa08-be424e781c8f.png">
    <link rel="icon" type="image/x-icon"
        href="https://pics.pzcdn.tw/pazzo/System/4aba9c21-376f-4a5d-bcf4-6fa0a159d44a.png">
    <link rel="apple-touch-icon-precomposed"
        href="https://pics.pzcdn.tw/pazzo/System/ad675f8b-02ea-4bef-9b0b-9d7995dae0af.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="https://pics.pzcdn.tw/pazzo/System/ac6bb00c-aeb3-41af-95fe-bfd5cb022efc.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="https://pics.pzcdn.tw/pazzo/System/8560fea4-f2f4-4eaf-908d-7ba3d8c861c4.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="https://pics.pzcdn.tw/pazzo/System/765245a9-b97f-4668-8003-55b974578904.png"> -->

    <!-- 奇怪 -->
    <link href="https://static.pzcdn.tw/sff/pazzo/css/main.css?v=20210201v1" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <style>
        img1 {
            max-width: auto;
            height: auto;
        }
    </style>
</head>

{%include 'header.html'%}

<body>
    <div class='container-fluid'>
        <!-- 滿版寬度 -->
        <br><br><br><br><br><br><br><br>
        <div class='row'>
            <div class='col-2'>
                <!-- <div class='panel panel-default'> -->
                <!-- <div class='panel-body'> -->
                <table class='table'>

                    <div class='list-group'>
                        <b class='list-group-item'>個人資料</b>
                        <a href='/member/info' class='list-group-item'>個人資料修改</a>
                    </div>
                    <div class='list-group'>
                        <b class='list-group-item'>買家</b>
                        <a href='/member/seller/orderquery' class='list-group-item'>訂單查詢</a>
                        <a href='/member/seller/orderqa' class='list-group-item'>訂單相關問題</a>
                    </div>
                    <div class='list-group'>
                        <b class='list-group-item'>賣家</b>
                        <a href='/member/seller/apply' class='list-group-item'>賣衣上架申請</a>
                        <a href='applyrecord' class='list-group-item'>申請紀錄</a>
                        <a href='member/seller/reviseapplication' class='list-group-item'>銷售中商品資料修改</a>
                    </div>
                </table>
                <!-- <script type="text/javascript"
                            src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;dd=0&amp;wid=&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=190&amp;wne=6&amp;srefs=0"></script>
                        <noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript> -->
                <!-- </div> -->
                <!-- </div> -->
            </div>

            <div class='col-10'>
                <div class='panel panel-default'>
                    <div class="panel-heading">{%block headmessage%}{% endblock %}</div>
                    <div class="panel-body"> {% block content %} {% endblock %}</div>
                    <div class="panel-footer"> {% include 'footer.html' %}</div>
                </div>
            </div>


        </div>
    </div>

</body>

</html>