<!--apply.html-->
{%extends 'member/base/memberbase.html'%}
{%block headmessage%}
<p style='font-family: 微軟正黑體;font-size: 14pt;font-weight: bold;'>
    上架申請
</p>
{% endblock %}

{%block content%}
<p>
<form name='apply' action='/member/seller/apply' method='GET'>
    <!-- 填入商品序號 -->
    <label for='uniqlo_id'>UNIQLO商品序號：</label>
    <input id='uniqlo_id' type='text' name='uniqlo_id'> <input type='submit' value='新增'><br>
</form>

</p>
<hr>
{%if itemexist%}
<!-- 如果商品存在 -->
<form name='application' action='/member/seller/addItemToApply' method='POST'>
    {% csrf_token %}
    <!-- 顯示品名 -->
    <b>
        商品名稱：{{item.UNIQLOID}} {{item.UNIQLOTitle}}<br>
        <input id='uniqlo_id' value={{item.UNIQLOID}} type='hidden' name='uniqlo_id'>
    </b>

    <b>
        {%for imageurl in titleImageList%}
        <img class=img1 src={{imageurl}} height=200px width=200px>
        {%endfor%}<br>
    </b>
    <hr>
    <!-- 就接著輸入尺寸 -->
    <label for='item_size'>尺寸：</label>
    <select id='item_size' name='item_size'>
        　<option value="DEFAULT">----請選擇尺寸----</option>
        　<option value="XXXS">XXXS</option>
        　<option value="XXS">XXS</option>
        　<option value="XS">XS</option>
        　<option value="S">S</option>
        　<option value="M">M</option>
        　<option value="L">L</option>
        　<option value="XL">XL</option>
        　<option value="XXL">XXL</option>
        　<option value="XXXL">XXXL</option>
    </select>


    <!-- 以及顏色 -->
    <!-- 不知道可不可以切換顏色就出現那個顏色的照片 -->
    <br>
    <label for='item_color'>顏色：</label>
    <select id='item_color' name='item_color'>
        <option value="DEFAULT">----請選擇顏色----</option>
        {%for color in colorList%}
        <option value={{color}}>{{color}}</option>
        {%endfor%}<br>



    </select>
    <br>
    <!-- 件數 -->
    <label for='quantity'>件數：</label>
    <input id='quantity' value=1 type='text' size=3 name='quantity'>
    <br>
    <!-- 填入欲售價格-->
    <!-- 我還想加上顯示原價 -->
    <label for='wishing_price'>欲售價格：</label>
    <input id='wishing_price' size=5 type='text' name='wishing_price'>
    <br>
    <input type='submit' value='新增'><br>
</form>
<!-- 
你剛剛輸入了{{uniqlo_id}} -->

{%elif uniqlo_id != None%}
<!-- 如果商品不存在 -->
抱歉！該商品不存在！請確認是否輸入正確的商品序號

{% elif messages %}
{% for msg in messages %}
<script>
    alert('{{ msg.message }}');
</script>

{% endfor %}




{%endif%}<br>


<!-- <input type='reset' value='清除重填'> -->




{% endblock %}