<!--applyrecords.html-->
{%extends 'member/base/memberbase.html'%}
{%block headmessage%}
<p style='font-family: 微軟正黑體;font-size: 14pt;font-weight: bold;'>
    申請紀錄
</p>
{% endblock %}

{%block content%}


{%for item in records%}
<p style='font-family: 微軟正黑體;font-size: 14pt;font-weight: bold;'>
    <a href='/store/goods/{{item.UNIQLOID}}'>{{item.UNIQLOID}} {{item.size}} {{item.Status}}</a>
</p>
{% endfor %}
{% endblock %}